<!DOCTYPE html>
<html lang="cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>用户表单</title>
    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.css}" rel="stylesheet" />
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-to">
    <div class="container">
        <div class="navbar-right">
            <a href="#" th:href="@{/user/query}" role="button" class="btn btn-default navbar-btn">用户管理</a>
            <a href="#" th:href="@{/role/query}" role="button" class="btn btn-default navbar-btn">角色管理</a>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row" th:object="${user}">
        <form method="post" th:action="@{*{id} == null ? '/user/create' : '/user/update'}">
            <div class="form-group">
                <label>账号</label>
                <input type="text" name="userName" class="form-control" placeholder="请输入手机号" th:value="*{userName}" />
            </div>
            <div class="form-group">
                <label>性别</label>
                <div class="radio">
                    <label class="radio-inline">
                        <input type="radio" name="gender" value="male" th:checked="*{gender} == 'male'" /> 男
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="gender" value="female" th:checked="*{gender} == 'female'" /> 女
                    </label>
                </div>
            </div>
            <div class="form-group">
                <label>角色</label>
                <select multiple="multiple" name="roles">
                    <option th:each="role:${roles}" th:text="${role.description}" th:value="${role.roleName}" th:selected="${#user.roles.contain()}">角色名称</option>
                </select>
            </div>
            <input type="hidden" name="id" th:value="*{id}" />
            <button type="submit" class="btn btn-primary">提交</button>
        </form>
    </div>
</div>
</body>
</html>