<!DOCTYPE html>
<html lang="cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>角色表单</title>
    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.css}" rel="stylesheet" />
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-to">
    <div class="container">
        <div class="navbar-right">
            <a href="#" th:href="@{/user/query}" role="button" class="btn btn-default navbar-btn">用户管理</a>
            <a href="#" th:href="@{/role/query}" role="button" class="btn btn-default navbar-btn">角色管理</a>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row" th:object="${role}">
        <form method="post" th:action="@{*{id} == null ? '/role/create' : '/role/update'}">
            <div class="form-group">
                <label>角色名称</label>
                <input type="text" name="roleName" class="form-control" placeholder="请输入英文编码" th:value="*{roleName}" />
            </div>
            <div class="form-group">
                <label>角色描述</label>
                <textarea name="description" class="form-control" placeholder="角色描述" th:text="*{description}"></textarea>
            </div>
            <input type="hidden" name="id" th:value="*{id}" />
            <button type="submit" class="btn btn-primary">提交</button>
        </form>
    </div>
</div>
</body>
</html>