<!DOCTYPE html>
<html lang="cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>后台管理</title>
    <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.css}" rel="stylesheet" />
</head>
<body>
<nav class="navbar navbar-default navbar-fixed-to">
    <div class="container">
        <div class="navbar-right">
            <a href="#" th:href="@{/user/query}" role="button" class="btn btn-default navbar-btn">用户管理</a>
            <a href="#" th:href="@{/role/query}" role="button" class="btn btn-default navbar-btn">角色管理</a>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row">

    </div>
</div>
</body>
</html>